<div class="container">
  <div class="row">
    <!-- Uma linha dividida em duas, content end é do lado direito -->
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estadoBanner">
      <app-banner></app-banner>
    </div>

    <div *ngIf="cadastro; else formLogin">
      <div class="col-sm-6 d-flex justify-content-start" [@animacao-painel]="estadoPainel">
        <app-cadastro (exibirPainel)="exibirPainel($event)"></app-cadastro>
      </div>
    </div>
    <ng-template #formLogin>
      <div class="col-sm-6 d-flex justify-content-start" [@animacao-painel]="estadoPainel">
        <!-- Os dados que estou recebendo é a string que estou emitindo na classe do login -->
        <app-login (exibirPainel)="exibirPainel($event)"></app-login>
      </div>
    </ng-template>


  </div>
</div>